.container {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: ghostwhite;

}
body {
    flex-grow: 1;
    background-color: black;

}

header {
    flex-grow: 1;
    background-color: rgb(255, 0, 0);
}

nav {
    flex-grow: 1;
    background-color: rgb(0, 255, 13);
}
main {
    flex-grow: 1;
    background-color: rgb(0, 26, 255);
}
aside {
    flex-grow: 1;
    background-color: rgb(255, 230, 0);
}
footer{
    flex-grow: 1;
    background-color: rgb(255, 0, 212);
}