body {
  background: peachpuff;  
}
.container > * {
background-color: aqua;
margin: 0.5rem;
border: 5px solid rgb(255, 47, 47);

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
  border: 5px solid rgb(0, 146, 78);
  height: 95vh;

}

.a {
  flex-grow: 1;
  display: flex;
  background-color: cornflowerblue;
  border: 5px solid black;
  justify-content: center;
  height:15vh;
  margin: 10px;
}
.wrapper {
  display:flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%;
  border: 5px solid whitesmoke;
}

.wrapper2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color:white;
  margin: 10px;
  text-align: center;
  border: 5px solid rgb(150, 29, 29);
  width: 30vh;
  width: 60%
}
.wrapper2 > * {
  width: 100px;
  height: 100px;
  padding: 0;
  border: 5px solid cadetblue;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: no;
  margin: 10px;
  height: 200px;
}

.h{
  display: flex;
  justify-content: flex-end;
  flex-direction: column ;
  background-color:rgb(221, 171, 250);
  width: 20vh;
  height:30vh;
  text-align: center;
  border: 5px solid red;
}

.b,.c, .d
{display: flex;

}